* {
  box-sizing: border-box;
}

:root {
  --primary-color: #143c3c;
  --sub-color: #e2eddf;
  --header-color: #152427;
  --item-color: #575d5e;
  --desc-color: #7d8188;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", "Public Sans", sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

.container {
  width: 1140px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  display: inline-block;
  --height: 26px;
  min-width: 107px;
  outline: none;
  border-radius: 40px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: var(--height);
  color: #fff;
  background: var(--primary-color);
}

.btn:hover {
  opacity: 0.9;
}

.header-btn {
  --height: 57px;
  min-width: 173px;
}

/* Header */
.header {
  padding-top: 14px;
  font-family: "Public Sans", sans-serif;
}

.header-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 13px;
}

.header-top::before {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  height: 1px;
  width: 1140px;
  background: linear-gradient(
    90deg,
    #fff 0%,
    #dddcdc 51.09%,
    rgba(212, 212, 212, 0) 99.68%
  );
}

.navbar {
  margin-left: auto;
}

.navbar__list {
  display: flex;
  align-items: center;
  column-gap: 38px;
  margin-left: auto;
}

.navbar__item {
  position: relative;
}

.navbar__link {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56;
  color: var(--item-color);
}

.navbar__link--active,
.navbar__link:hover {
  color: var(--header-color);
}

.navbar__link--active::after {
  position: absolute;
  bottom: -28px;
  content: "";
  display: block;
  width: 16px;
  height: 2px;
  background: var(--header-color);
}

.header-action {
  margin-left: 88px;
}

.header-action__btn {
  border: 1.5px solid var(--primary-color);
}

/* Hero */
.hero {
  display: flex;
  column-gap: 76px;
  padding: 30px 0 88px 0;
}

.hero__content {
  margin-top: 73px;
}

.hero__heading {
  width: 368px;
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2; /* 120% */
  color: var(--header-color);
}

.hero__desc {
  width: 341px;
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56; /* 155.556% */
  color: var(--item-color);
}

.hero__row {
  display: flex;
  align-items: center;
  column-gap: 36px;
  margin-top: 42px;
}

.play-btn {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.play-btn:hover .play-btn__decoration {
  transform: rotate(135deg);
}

.play-btn__decoration {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  width: 58px;
  height: 58px;
  border-top: 4px solid #143c3c;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #143c3c;
  border-radius: 50%;
  transform: rotate(-45deg);
  transition: 0.5s 0.3s ease-in-out;
}

.play-btn__circle {
  position: absolute;
  left: 7px;
  width: 44px;
  height: 43px;
  border-radius: 50%;
}

.play-btn__desc {
  width: 118px;
  height: 30px;
  text-align: center;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
  color: #152427;
}

.hero__media {
  position: relative;
  margin-top: 30px;
}

.hero__media-bg {
  position: absolute;
  top: 152px;
  left: 156px;
  z-index: -1;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background: #4dbb9a;
  filter: blur(137px);
}

.hero__images {
  display: flex;
  column-gap: 20px;
}

.hero__img {
  width: 202px;
  height: 466px;
  border-radius: 110px;
}

.hero__img:nth-of-type(2) {
  margin-top: 77px;
}

.hero-decor {
  position: absolute;
}

.decor__flower-upper {
  left: -219px;
  top: -24.4px;
  z-index: 1;
}

.decor__wave-upper {
  left: -177px;
  top: -32.07px;
  z-index: 0;
}

.decor__wave-lower {
  top: 244px;
  left: 31px;
  transform: rotate(175.95deg);
}

.decor__flower-lower {
  bottom: -36.45px;
  right: 19.12px;
}

/* Brand */
.brand {
  margin-top: 42.3px;
}

.brand__list {
  display: flex;
  align-items: center;
  padding: 0 122px;
  height: 201px;
  border-radius: 100.5px;
  background: var(--sub-color);
}

.brand__icon {
  display: flex;
  align-items: center;
}

.brand-google {
  margin-right: 47px;
  font-size: 3.1rem;
  font-weight: 500;
  color: var(--primary-color);
}

.brand-slack {
  margin-right: 51px;
  font-size: 3.2rem;
  font-weight: 600;
  color: var(--primary-color);
}

.brand-agworld {
  margin-right: 64px;
  margin-left: 11px;
  font-size: 2.6rem;
  color: #163c35;
}

.brand-riotinto {
  margin-right: 63px;
  font-family: "Sonsie One";
  font-size: 2.3rem;
  color: var(--primary-color);
}

.brand-heroku {
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 1.995px;
  color: var(--primary-color);
}

/* Service */
.service {
  margin-top: 53px;
  padding: 53px 0 78px;
}

.service-top {
  display: flex;
  column-gap: 422px;
}

.service__content {
  position: relative;
}

.service__desc {
  margin-bottom: 12px;
  margin-left: 46px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.625; /* 162.5% */
  color: var(--header-color);
}

.service__desc::before {
  position: absolute;
  top: 9px;
  left: 0;
  content: "";
  display: inline-block;
  width: 25px;
  height: 1px;
  background: var(--header-color);
}

.service__heading {
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.24; /* 123.81% */
  color: var(--header-color);
}

.service__heading::after {
  position: absolute;
  bottom: 19px;
  left: 351px;
  content: "";
  width: 66px;
  height: 2px;
  background: var(--header-color);
}

.service__control {
  display: flex;
  column-gap: 17px;
}

.control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 79px;
  width: 54px;
  height: 54px;
  border: none;
  outline: none;
  border-radius: 50%;
  color: #152427;
  background: #e2eddf;
  transition: 0.25s;
}

.control-btn:hover {
  color: #fff;
  background: var(--primary-color);
}

.control-btn-next {
  transform: rotate(180deg);
}

.service-list {
  display: flex;
  margin-top: 76px;
  column-gap: 16px;
}

.service-item {
  position: relative;
  flex: 1;
  min-width: 370px;
  min-height: 454px;
  border-radius: 20px 20px 0px 0px;
}

.service-item:hover .service-item__body::after {
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item__thumb {
  height: 318px;
  border-radius: 20px;
}

.service-item__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.service-item__body {
  padding: 24px 84px 23px 18px;
  border-radius: 20px;
  transition: 0.25s;
}

.service-item__body::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  content: "";
  width: 100%;
  height: 245px;
  border-radius: 20px;
  transition: 0.25s;
}

.service-item__heading {
  display: block;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  color: var(--header-color);
}

.service-item__desc {
  display: block;
  margin-top: 18px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71; /* 171.429% */
  color: var(--desc-color);
}

/* About */
.about {
  margin-top: 79px;
}

.about-inner {
  position: relative;
  display: flex;
  column-gap: 64px;
}

.about__media {
  position: relative;
  padding-top: 13px;
}

.about__images {
  display: flex;
  column-gap: 21px;
}

.about__img {
  width: 284px;
  height: 480px;
  border-radius: 210px;
  box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__img--lower {
  margin-top: 77px;
}

.about-decor {
  position: absolute;
  top: -18px;
  left: 46px;
}

.about__content {
  min-width: 485px;
}

.about-heading-small {
  position: relative;
  margin-left: 46px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.125; /* 112.5% */
  color: var(--header-color);
}

.about-heading-small::before {
  position: absolute;
  left: -46px;
  top: 9px;
  content: "";
  width: 25px;
  height: 1px;
  background: var(--header-color);
}

.about__heading {
  margin-top: 20px;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.24; /* 123.81% */
  color: var(--header-color);
}

.about__desc {
  margin-top: 11px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.625; /* 162.5% */
  color: var(--desc-color);
}

.statistic-item {
  display: flex;
  align-items: center;
  column-gap: 24px;
  margin-top: 38px;
  padding-bottom: 20px;
  padding-right: 7px;
  border-bottom: 1px solid #83a17d;
}

.statistic-data {
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.24; /* 123.81% */
  color: var(--header-color);
}

.statistic-desc {
  font-size: 1.4rem;
  line-height: 1.71429;
}

.progress {
  position: absolute;
  left: 457px;
  top: 418px;
  padding-top: 19px;
  width: 143px;
  height: 144px;
  border-radius: 8px;
  font-family: "Public Sans";
  background: #fff;
  box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.progress__text {
  color: var(--header-color);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4; /* 140% */
}

.progress-top {
  margin-left: 23px;
}

.progress__heading {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  color: var(--header-color);
}

.progress__desc {
  margin-top: 6px;
  font-size: 1rem;
  line-height: 1.4; /* 140% */
  color: var(--item-color);
}

.progress__data {
  margin-top: 10px;
}

.progress__data-bar {
  position: relative;
  margin-top: 3px;
  width: 96px;
  height: 2px;
  border-radius: 10px;
  background: #eaeaea;
}

.progress__data-bar::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  border-radius: 10px;
  background: #83a17d;
}

.progress__loading {
  margin: 3px 0 0 57px;
}

.progress-bottom {
  padding-top: 3px;
  margin-left: 17px;
}

.progress__checkbox {
  position: relative;
  margin-left: 2px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #eaeaea;
}

.progress__checkbox::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #143c3c;
}

.progress__teams {
  display: flex;
  align-items: center;
  margin-top: 4px;
  column-gap: 36px;
}

.progress__teams-desc {
  margin-top: 1px;
}

.progress__teams-images {
  display: flex;
}

.progress__teams-img {
  display: block;
  margin-left: -6px;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 16px;
  object-fit: cover;
}

/* Process */
.process {
  margin: 115px 0 148px 0;
}

.process-header {
  margin-top: 36px;
  width: 477px;
}

.process-heading-small {
  position: relative;
  margin-left: 36px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.125; /* 112.5% */
  color: var(--header-color);
}

.process-heading-small::before {
  position: absolute;
  content: "";
  left: -36px;
  top: 9px;
  width: 25px;
  height: 1px;
  background: var(--header-color);
}

.process-heading {
  position: relative;
  margin-top: 20px;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.2381; /* 123.81% */
  color: var(--header-color);
}

.process-heading::after {
  position: absolute;
  right: -9px;
  bottom: 18px;
  content: "";
  width: 66px;
  height: 2px;
  background: var(--header-color);
}

.process-list {
  margin-top: 81px;
}

.process-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 60px 41px 25px 20px;
  border-bottom: 1px solid #000;
}

.process-item:hover {
  border-radius: 33px;
  background: var(--sub-color);
  border: none;
}

.process-item:hover .process-count {
  margin-right: 64px;
}

.process-item:hover .process-img {
  visibility: visible;
  transform: translateY(-16px);
}

.process-item__inner {
  display: flex;
  width: 94.9123%;
  height: 84px;
}

.process-count {
  margin-right: 48px;
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 0.723; /* 72.222% */
  color: var(--primary-color);
}

.process-count-01 {
  position: relative;
  padding-right: 16px;
}

.process-content-inner {
  display: flex;
  align-items: center;
}

.process-content__heading {
  width: 176px;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  color: var(--header-color);
}

.process-content__more {
  display: block;
  width: 100px;
  margin-top: 22px;
  font-size: 1.8rem;
  line-height: 1; /* 100% */
  color: var(--item-color);
  border-bottom: 2px solid var(--header-color);
}

.process-content__desc {
  width: 572px;
  height: 84px;
  margin-left: 175px;
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56; /* 155.556% */
  color: var(--desc-color);
}

.process-img {
  visibility: hidden;
  position: absolute;
  width: 450px;
  height: 444px;
  top: -259px;
  right: 92px;
  z-index: 99;
  transition: transform 0.5s ease-out;
}

/* Video */
.video {
  padding: 116px 130px 63px;
  background-color: var(--primary-color);
}

.video-header {
  display: flex;
  align-items: center;
  gap: 93px;
}

.video-header__heading {
  position: relative;
  color: #e7f9f9;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 52px;
}

.video-header__heading::after {
  content: "";
  position: absolute;
  top: 82px;
  left: 294px;
  width: 66px;
  height: 2px;
  background: #83a17d;
}

.video-header__desc {
  margin-bottom: 13px;
  color: #6a8383;
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
}

.video-header__link {
  color: #fff;
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
}

.left-arrow {
  margin-left: 26px;
}

.video-content {
  margin-top: 65px;
}

.video-inner {
  position: relative;
  width: 100%;
  height: 544px;
  border-radius: 22px;
}

.video-vid {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 22px;
  object-fit: cover;
}

.play-btn {
  display: block;
  position: absolute;
  width: 118px;
  height: 118px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.play-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.video-decor-1 {
  position: absolute;
  right: -57px;
  bottom: 238px;
}

.video-decor-2 {
  position: absolute;
  top: -74px;
  right: -53px;
}

/* Feature */
.feature {
  margin-top: 70px;
  padding: 70px 0 92px 0;
}

.feature-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature__heading {
  width: 520px;
  color: var(--header-color);
  text-align: center;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.24;
}

.feature__desc {
  width: 547px;
  margin-top: 20px;
  color: var(--desc-color);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.62;
}

.feature__list {
  display: flex;
  gap: 45px;
  margin-top: 103px;
}

.feature__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 362px;
  border-radius: 160px;
  border: 1.5px solid #cecece;
  transition: transform 0.5s;
}

.feature__item:hover {
  border-radius: 160px;
  background: #fff;
  box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
  transform: translateY(-60px);
}

.feature__item-heading {
  margin-top: 23px;
  font-size: 2rem;
  line-height: 1;
}

.feature__item-desc {
  margin-top: 12px;
  width: 286px;
  height: 118px;
  font-size: 1.4rem;
  line-height: 1.71;
}

.feature__item-desc-02 {
  width: 264px;
  height: 93px;
}

.feature__item-desc-03 {
  width: 264px;
  height: 98px;
} 
