* {
  box-sizing: border-box;
}

:root {
  --primary-color: #143c3c;
  --header-color: #152427;
  --item-color: #575d5e;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", "Public Sans", sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

.container {
  width: 1140px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  display: block;
  --height: 57px;
  min-width: 173px;
  outline: none;
  border: 1.5px solid var(--primary-color);
  border-radius: 40px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: var(--height);
  color: #fff;
  background: var(--primary-color);
}

/* Header */
.header {
  padding-top: 14px;
}

.header-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 13px;
}

.header-top::before {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  height: 1px;
  width: 1140px;
  background: linear-gradient(90deg, #FFF 0%, #DDDCDC 51.09%, rgba(212, 212, 212, 0.00) 99.68%);
}

.navbar {
  margin-left: auto;
}

.navbar__list {
  display: flex;
  align-items: center;
  column-gap: 38px;
  margin-left: auto;
}

.navbar__item {
  position: relative;
}

.navbar__link {
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56;
  color: var(--item-color);
}

.navbar__link--active, 
.navbar__link:hover {
  color: var(--header-color);
}

.navbar__link--active::after {
  position: absolute;
  bottom: -28px;
  content: "";
  display: block;
  width: 16px;
  height: 2px;
  background: var(--header-color);
}

.header-action {
  margin-left: 88px;
}
